<section class="sub-page section why-softnet">
    <div class="box-container">
        <div class="sub-page-header">
            <div class="container">
                <h2>Why SoftNet</h2>
                <p class="lead">Keep reading this page to figure out how we got started and who is behind it!</p>
            </div>
        </div>
        <div class="container sub-page-content">
            <div class="video-iframe-container fullscreen">
                <youtube ng-if="whysoftnet.videoSrc" video-src="whysoftnet.videoSrc"></youtube>
            </div>
        </div>
    </div>
</section>