<div class="modal fade" id="modal-report" ng-controller="ReportAbuseCtrl as rpCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-title">
            <h2>Report Abuse<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button></h2>
        </div>
        <div class="modal-content">
            <ng-include src="'templates/popup-pages/report-abuse/report-abuse-content/report-abuse-content.html'" include-replace></ng-include>     
                
                
        </div><!-- end .modal-content -->
        
    </div><!-- end .modal-dialog -->
</div><!-- end #modal-report -->