<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title"><h2>Sign Up<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button></h2></div>
            <div class="modal-body">
                <ng-include src="'templates/auth/signup-modal/signup-form/signup-form.html'" include-replace></ng-include>
            </div>
        </div>
    </div>
</div>