<section class="sub-page article-container">
	<div class="box-container">
		<div class="sub-page-header">
			<div class="container">
				<h2>Isoftnet Sitemap</h2>
				<p class="lead">Keep reading this page to figure out how we got started and who is behind it!</p>
			</div>
		</div>
		<div class="container sub-page-content">
			<div id="sitemap" class="sitemap-list">
				<ul class="col-xs-12 col-sm-6">
					<li class="dark-link">IsoftNet
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Why Softnet ?</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Contact Us</a></li>
							<li>
								<a href="#">Contacts</a>
								<ul>
									<li><a href="#">Upload</a></li>
									<li><a href="#">Manager</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="col-xs-12 col-sm-6">
					<li class="dark-link">Legal
						<ul>
							<li><a href="#">Copyright</a></li>
							<li><a href="#">Policy</a></li>
							<li><a href="#">Terms and Conditions</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>