<div class="modal fade sofnet-modal" id="contactSupportModal" ng-controller="ContactSupportCtrl as CSCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-title"><h2>Do you want to we support?<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button></h2></div>
        <div class="modal-content">
            
            <ng-include src="'templates/popup-pages/contact-support/contact-support-content/contact-support-content.html'" include-replace></ng-include>
           
        </div> <!-- end .modal-content -->
        
    </div> <!-- end .modal-dialog -->
</div>