<div class="modal fade sofnet-modal" id="suggestionsModal" ng-controller="SuggestionsCtrl as Suggestions">
    <div class="modal-dialog" role="document">
        <div class="modal-title"><h2>Suggestions for ISoftnet<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button></h2></div>
        <div class="modal-content">
            
            <ng-include src="'templates/popup-pages/suggestions/suggestions-content/suggestions-content.html'" include-replace></ng-include>
          
        </div>
        
    </div>
</div>