<!-- home section start -->
<ng-include src="'templates/app/home/slider/slider.html'" include-replace></ng-include>
<!-- home section end -->
<!-- services section start -->
<ng-include src="'templates/app/home/services/services.html'" ng-if="app.isAuth" include-replace></ng-include>
<!-- services section end -->
<!-- how-it-works section start -->
<ng-include src="'templates/app/home/how-it-works/how-it-works.html'" include-replace></ng-include>
<!-- how-it-works section end -->
<!-- feedbacks section start -->
<ng-include src="'templates/app/home/feedbacks/feedbacks.html'" include-replace></ng-include>
<!-- feedbacks section end -->
<!-- feedbacks section start -->
<ng-include src="'templates/app/home/experience/experience.html'" include-replace></ng-include>
<!-- feedbacks section end -->