<div class="add-status">  
    <form class="sofnet-form" novalidate name="forms.status" ng-submit="status.submitForm()">
        <div class="form-group" ng-class="{
                'has-error': forms.status.$submitted && 
                    (
                        forms.status.formStatus.$error.required ||
                        status.error
                    )
                ,
                'has-success': forms.status.$submitted && forms.status.formStatus.$valid
                }">      
            <textarea type="text" name="formStatus" class="form-control" rows="3" id="inputForm" autofocus ng-model="app.formStatus" required placeholder="Please for comments at here..."></textarea>
            <span class="error-message" ng-show="forms.status.$submitted && forms.status.formStatus.$error.required">Please enter Comment.</span>
        </div>
        <div class="row form-group">
            <button type="submit" class="btn btn-info">Save</button>
            <button type="button" class="btn" ng-click="StCtrl.removeFormStatus()">Cancel</button>
        </div>
    </form>
</div>