<div class="modal fade sofnet-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-title">
            <h2 class="modal-title">{{confirmModal.title?confirmModal.title:'Confirmation'}}</h2>
        </div>
        <div class="modal-content">
            <div class="modal-body">                
                <p>{{confirmModal.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-hide="loading" ng-click="confirmModal.close(true)" class="btn btn-info" data-dismiss="modal">Yes</button>
                <button type="button" ng-hide="loading" ng-click="confirmModal.close(false)" class="btn"  data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
