<div class="container table-responsive box-container">                  
  <datatable-wrapper element-selector=".careers-toolbar">
      <table datatable="ng" class="table table-sm table-bordered parent-table" cellspacing="0" width="100%" dt-options="careers.dtOptions" dt-column-defs="careers.dtColumns" dt-instance="careers.dtInstance">
          <thead>
              <tr>
                <th>Create On</th>
                <th>Create By</th>
                <th>Comments</th>
              </tr>
          </thead>
          <tbody>          
              <tr ng-repeat="event in EventsCtrl.events">                            
                  <td>{{ event.createOn }}</td>
                  <td>{{ event.createBy }}</td>
                  <td>{{ event.comments }}</td>                                  
              </tr>
          </tbody>
          <tfoot>
              <tr ng-if="EventsCtrl.events.length">
                <td colspan="3"><div class="careers-toolbar"></div></td>
              </tr>
            </tfoot>
      </table>
  </datatable-wrapper>
</div>