<div class="job-rating">
  <div class="rating-item">
    <div class="rating-title">Responsive</div>
    <div class="rating-starts"><input-stars ng-model="Rating.responsive" max="10"></input-stars> ({{Rating.responsive}}/10)</div>
  </div>
  <div class="rating-item">
    <div class="rating-title">Truthful & Honest</div>
    <div class="rating-starts"><input-stars ng-model="Rating.truthful" max="10"></input-stars> ({{Rating.truthful}}/10)</div>
  </div>
  <div class="rating-item">
    <div class="rating-title">Professional</div>
    <div class="rating-starts"><input-stars ng-model="Rating.professional" max="10"></input-stars> ({{Rating.professional}}/10)</div>
  </div>
  <div class="rating-item">
    <div class="rating-title">Information</div>
    <div class="rating-starts"><input-stars ng-model="Rating.infomations" max="10"></input-stars> ({{Rating.infomations}}/10)</div>
  </div>
  <div class="rating-item">
    <div class="rating-title">Efficient & Effective</div>
    <div class="rating-starts"><input-stars ng-model="Rating.efficient" max="10"></input-stars> ({{Rating.efficient}}/10)</div>
  </div>
  <div class="rating-item">
    <div class="rating-title">Overall</div>
    <div class="rating-starts"><input-stars ng-model="Rating.overall" max="10"></input-stars> ({{Rating.overall}}/10)</div>
  </div>
</div>