<section class="sub-page article-container">
  <div class="box-container">
    <div class="sub-page-header">
      <div class="container">
        <h2>Terms and Conditions</h2>
        <p class="lead">Keep reading this page to figure out how we got started and who is behind it!</p>
      </div>
    </div>
    <div class="container sub-page-content">
      <h3>Which types of work are subject to Policy?</h3>

      <p>Policy ownership gives the owner the exclusive right to use the work, with some exceptions. When a person creates an original work, fixed in a tangible medium, he or she automatically owns Policy to the work.</p>

      <p>Many types of works are eligible for Policy protection, for example:</p>

      <ul>
        <li>Audiovisual works, such as TV shows, movies, and online videos</li>
        <li>Sound recordings and musical compositions</li>
        <li>Written works, such as lectures, articles, books, and musical compositions</li>
        <li>Visual works, such as paintings, posters, and advertisements</li>
        <li>Video games and computer software</li>
        <li>Dramatic works, such as plays and musicals</li>
      </ul>

      <p>The <a href="#" target="_blank">Policy Office</a> has information online, and you can check with a lawyer if you want to know more.</p>

      <h3>Is it possible to use a Policy-protected work without infringing?</h3>

      <p>Yes, in some circumstances, it is possible to use a Policy-protected work without infringing the owner’s Policy. For more about this, you may wish to learn about <a href="#" target="_blank">fair use</a>. It is important to note that your content can be removed in response to a claim of Policy infringement, even if you have...</p>

      <ul>
        <li>Given credit to the Policy owner</li>
        <li>Refrained from monetizing the infringing content</li>
        <li>Charged for a copy of the content in question</li>
        <li>Noticed similar content that appear elsewhere on the internet</li>
        <li>Purchased the content including a hard or digital copy</li>
        <li>Recorded the content yourself from TV, a movie theater, or the radio</li>
        <li>Copied the content yourself from a textbook, a movie poster or photograph</li>
        <li>Stated that “no Policy infringement is intended”</li>
      </ul>

      <p>Some content creators choose to make their work available for reuse with certain requirements. For more about this, you may wish to learn about the <a href="#" target="_blank">Creative Commons license</a>.</p>

      <h3>Can Google determine Policy ownership?</h3>

      <p><strong>No.</strong> Google isn’t able to mediate rights ownership disputes. When we receive a <a href="#dmca_example">complete and valid takedown notice</a>, we remove the content as the law requires. When we receive a valid counter notification we forward it to the person who requested the removal. If there is still a dispute it’s up to the parties involved to resolve the issue in court.</p>

      <h3>What is the difference between Policy and trademark? What about patents?</h3>

      <p>Policy is just one form of intellectual property. It is not the same as trademark, which protects brand names, mottos, logos, and other source identifiers from being used by others for certain purposes. It is also different from patent law, which protects inventions.</p>

      <h3>What is the difference between Policy and privacy?</h3>

      <p>Just because you appear in a video, image or audio recording does not mean you own the Policy to it. For example, if your friend took a picture of you, she would own the Policy to the image that she took. If your friend, or someone else, uploaded a video, image or recording of you without your permission, and you feel it violates your privacy or safety, you may wish to <a href="#">file a privacy complaint</a>.</p>


      <div id="dmca_example">
        <h3>Policy Infringement Notification Requirements</h3>

        <p>The easiest way to file a complaint is to use our <a href="#">legal troubleshooter</a>.</p>

        <p>Policy notifications must include the following elements. Without this information, we will be unable to take action on your request:</p>

        <p><strong>1. Your contact information</strong></p>

        <p>You’ll need to provide information that will allow us to contact you regarding your complaint, such as an email address, physical address or telephone number.</p>

        <p><strong>2. A description of your work that you believe has been infringed</strong></p>

        <p>In your complaint, be sure to clearly and completely describe the Policyed content you are seeking to protect. If multiple Policyed works are covered in your complaint, the law allows a representative list of such works.</p>

        <p><strong>3. Each allegedly infringing URL</strong></p>

        <p>Your complaint must contain the specific URL of the content you believe infringes your rights, or we will be unable to locate it. General information about the location of the content is not adequate. Please include the URL(s) of the exact content at issue.</p>

        <p><strong>4. You must agree too and affirm both of the following statements:</strong></p>

        <ul>
          <li>“I have a good faith belief that use of the Policyed materials described above as allegedly infringing is not authorized by the Policy owner, its agent, or the law.”</li>
          <li>And</li>
          <li>“The information in this notification is accurate and I swear, under penalty of perjury, that I am the Policy owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.”</li>
        </ul>

        <p><strong>5. Your signature</strong></p>

        <p>Complete complaints require the physical or electronic signature of the Policy owner or a representative authorized to act on their behalf. To satisfy this requirement, you may type your full legal name to act as your signature at the bottom of your complaint.</p>
      </div>
    </div>
  </div>
</section>