<aside class="widget">

    <h5 class="widget-title">Archive</h5>
    
    <div class="widget-body">
      <ul class="clearlist">
        <li>
          <a href="#" title="">October 2015</a><small><span class="slash-divider">/</span> 10</small>
        </li>
        <li>
          <a href="#" title="">July 2015</a><small><span class="slash-divider">/</span> 21</small>
        </li>
        <li>
          <a href="#" title="">June 2015 </a><small><span class="slash-divider">/</span> 11</small>
        </li>
        <li>
          <a href="#" title="">June 2015 </a><small><span class="slash-divider">/</span> 11</small>
        </li>
        <li>
          <a href="#" title="">June 2015 </a><small><span class="slash-divider">/</span> 11</small>
        </li>
      </ul>
    </div>
    
</aside><!-- end .widget Archive -->