<!-- This is page to display default(the lastest news) and category(if have) -->
<div class="news-category">
	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news1.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><span></span><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus [...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news2.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus [...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->	

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news1.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->	

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news2.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->	

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news3.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->	


	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news4.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news1.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->

	<article class="media" id="post-1">
		<a class="media-left" href="#">
			<img class="media-object img-media" src="assets/news2.png" alt="Generic placeholder image">
		</a>
		<div class="media-body text-justify">
			<h2 class="media-heading"><a href ui-sref="app.newspost">Media heading</a></h2>
			<div class="post-info">
				<span class="post-space"><i class="fa fa-calendar"></i> 
					<a href="#" rel="bookmark">
						<time class="entry-date published" datetime="2014-06-01T11:07:59+00:00">June 1, 2014</time>
					</a>
				</span>
				<span class="post-space"><i class="fa fa-user"></i> <span class="author vcard">
					<a class="url fn n" href="#">admin</a></span>
				</span>				

				<span class="post-space">
					<i class="fa fa-folder"></i><a href="category/featured/">Featured</a>
				</span>				

			</div>	

			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,[...] </p>

			<div class="buttons-area">
				<div class="text-right">
					<a href="#" class="btn btn-primary">READ MORE</a>
				</div>
				

			</div><!-- end .buttons-area -->
		</div><!-- end .media-body --> 				    
	</article><!-- end .media -->

	<br />
	<div class="clearfix"></div>

	<div class="paging">
		<nav class="blog-pag">
			<ul class="pagination m-0">
				<li><a href="#"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a></li>
			</ul>
		</nav>
    </div><!-- end .paging -->

</div><!-- end .news category-->