.about-us-page .sub-page-content h3{font-size: 18px; text-transform: capitalize; font-weight: 500}
.about-us-page .sub-page-content p{font-size: 14px; padding-top: 20px;}
.our-team-block{padding: 30px 0 0}
.our-team-block .section-header{padding-bottom: 10px; text-align: center}
.our-team-block .section-header h3{font-size: 22px; text-transform: capitalize; font-weight: 500}
.our-team-block .section-header span{font-size: 14px; text-transform: uppercase; color: #c8d0d7}
.section-header h3:after {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 80px;
    width: 48px;
    height: 2px;
    background-color: #55a747;
    content: "";
}
.team-member {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    transition: .3s ease-in-out;
}
.team-member a{color: #4b4e53;
    transition: all .3s ease 0s;}
.team-member h5 {
    color: #55a747;
    margin-bottom: 30px;
}
.team-member img {
    border-radius: 100%;
}
.team-member .social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.team-member h5 small {
    display: block;
    padding-top: 10px;
    color: #96a2b2;
    font-weight: 300;
}
.team-member .social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons a {
    background-color: #eceeef;
    color: #53cbf1;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all .2s linear;
}
.team-member .social-icons a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
}