/**** Process contacts pages : upload and manage ****/
.contacts {

}

.contacts ul.status {
	list-style: none;
	font-size: 25px;

}
.contacts ul li {
	list-style: none;
}

.fa-contactCount {
	color: #3b57a0;
}

.fa-groupCount {
	color: #0695ca;
}

.fa-groupMemberCount {
	color: #0793d0;
}

.txt-connect {
	color: #36a5c9;
}

