<div id="modal-alert" class="modal fade sofnet-modal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">  
            <div class="modal-body">
                <p>{{ alertCtrl.alert }}</p>  
                <br />
            </div>     
            <div class="modal-footer">
                <button type="button" ng-click="alertCtrl.close(false)" class="btn" data-dismiss="modal">Close</button>
            </div>      			    	
        </div> <!-- end .modal-content -->   
    </div>  <!-- end .modal-dialog -->
</div><!-- end #modal-alert -->